:root  > * {
  --md-primary-fg-color:        #0A84A3;
  --md-primary-fg-color--light: #0A84A3;
  --md-primary-fg-color--dark:  #0A84A3;
  --md-accent-fg-color:         #EE8628;
  --md-accent-fg-color--light:  #EE8628;
  --md-accent-fg-color--dark:   #EE8628;

}

/* Constrain homepage width for better readability */
.md-content__inner {
  max-width: 900px;
  margin-right: auto;
}